.buttonPadding {
  padding-top: 10px;
}

.languageDescriptions {
  display: none;
}

.customLink {
  color: #0088ff;
  font-weight:bolder;
}

.customHeading3 {
  font-size: 16pt;
  color: dodgerblue;
}

.questionText {
  padding-top: 10px;
  font-weight: bolder;
}

/*h2 {
  font-size: 16pt;
  color: dodgerblue;
}*/
